<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.matricks">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Programme_list"/>
        <activity android:name=".CheckingSetText" />
        <activity android:name=".RelativeIntution" />
        <activity android:name=".Relativetypes" />
        <activity android:name=".CategoriesNerd" />
        <activity android:name=".NerdConceptList2" />
        <activity android:name=".MaxSumPath" />
        <activity android:name=".MarkovMatrix" />
        <activity android:name=".NerdConceptList" />
        <activity android:name=".OddMagicSquare" />
        <activity android:name=".MainScreen2" />
        <activity android:name=".MinorDiagonalSwap" />
        <activity android:name=".MajorDiagonalSwap" />
        <activity android:name=".ZPrinting" />
        <activity android:name=".RandomCode" />
        <activity android:name=".Rotate" />
        <activity android:name=".AntiSpiral" />
        <activity android:name=".Spiral" />
        <activity android:name=".ZigZag" />
        <activity android:name=".Transpose" />
        <activity android:name=".MainScreen" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>